.box{
    
    background-color: rgb(192, 185, 185);
}
.imgBox{
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0px auto;
}
.text{
    display: :none;
    text-align: center;
    display:block;
    
    
}
ul{list-style-type:none;}
.table{
    width: 32%;
    height: 140px;
    margin: 5px;
    float: left;
    background-color: aqua;
    
}
